---
import { getCollection, render } from 'astro:content'; // eslint-disable-line

import Layout from '@/layouts/layout.astro';
import Markdown from '@/components/markdown.astro';
import { Container } from '@/components/container';
import { formatDate } from '@/helpers/date';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout description={post.data.description} title={post.data.title}>
  <Container>
    <section class="hero">
      <a class="home" href="/">~ Home 🏡</a>
      <h1 class="title">{post.data.title}</h1>
      <p class="description">{post.data.description}</p>

      <div class="tags">
        {post.data.tags.map(tag => <a href={`/tags/${tag}`}>#{tag}</a>)}
      </div>

      <p class="date">[{formatDate(new Date(post.data.publishDate))}]</p>
    </section>

    <section class="content">
      <Markdown><Content /></Markdown>
    </section>
  </Container>
</Layout>

<style>
  .hero {
    padding: 120px 0 40px;

    & .title {
      margin-bottom: 4px;
      font-family: var(--font-serif);
      font-size: var(--font-lg);
      font-weight: 500;
    }

    & .description {
      color: var(--color-foreground-subtle);
    }

    & .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin-top: 12px;

      & a {
        display: block;
        padding: 4px 8px;
        font-family: var(--font-mono);
        font-size: var(--font-xsm);
        color: var(--color-foreground-subtle);
        text-decoration: none;
        background: linear-gradient(
          var(--color-neutral-50),
          var(--color-neutral-100)
        );
        border: 1px solid var(--color-neutral-100);
        border-radius: 50px;
        box-shadow: inset 0 -1px 0 var(--color-neutral-200);
      }
    }

    & .date {
      margin-top: 16px;
      font-family: var(--font-mono);
      font-size: var(--font-xsm);
      color: var(--color-foreground-subtler);
    }

    & .home {
      display: block;
      margin-bottom: 16px;
      font-family: var(--font-mono);
      font-size: var(--font-xsm);
      font-weight: 500;
      color: var(--color-foreground-subtler);
      text-decoration: underline;
      text-decoration-style: dotted;
      text-decoration-color: var(--color-foreground-subtler);
      text-transform: uppercase;
    }
  }

  .content {
    padding-bottom: 120px;
  }
</style>
